In [1]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

# Replace 'path_to_your_movie_dataset.csv' with the actual path to your CSV file
# Using forward slashes to avoid any escape character issues
movies_df = pd.read_csv('C:/Users/rushi/Desktop/University of Maryland/1. Spring 2024/INST 414/Module 3 Assignment/movies.csv')

# Ensure the genres are in a list format and not a string
movies_df['genres'] = movies_df['genres'].apply(lambda x: x.split('|') if isinstance(x, str) else [])

# One-Hot Encoding the genres
mlb = MultiLabelBinarizer()
genres_encoded = mlb.fit_transform(movies_df['genres'])
genres_encoded_df = pd.DataFrame(genres_encoded, columns=mlb.classes_)

# Concatenate back to the original dataframe
movies_df = pd.concat([movies_df.drop('genres', axis=1), genres_encoded_df], axis=1)

movies_df.head()  # This will display the first few rows of your dataframe

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(genres_encoded_df)

# Create a pandas Series for movie title
movie_indices = pd.Series(movies_df.index, index=movies_df['title']).drop_duplicates()

def get_similar_movies(title, cosine_sim=cosine_sim):
    idx = movie_indices[title]  # Get the index of the movie that matches the title
    sim_scores = list(enumerate(cosine_sim[idx]))  # Get the pairwise similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)  # Sort the movies based on similarity scores
    sim_scores = sim_scores[1:11]  # Get the scores of the 10 most similar movies, skip the first one
    movie_ids = [i[0] for i in sim_scores]  # Get the movie indices
    return movies_df['title'].iloc[movie_ids]  # Return the top 10 most similar movies



# Get the top 10 similar movies for "Inception (2010)"
similar_movies_inception = get_similar_movies('Inception (2010)')
print("Movies similar to Inception (2010):")
print(similar_movies_inception)

Movies similar to Inception (2010):
167                       Strange Days (1995)
6797                          Watchmen (2009)
454                          RoboCop 3 (1993)
1391    X-Files: Fight the Future, The (1998)
1526                   Negotiator, The (1998)
2248                           RoboCop (1987)
3839                          Insomnia (2002)
3873                   Minority Report (2002)
4940                       Man on Fire (2004)
5327                          Cellular (2004)
Name: title, dtype: object

In [3]:
# Get the top 10 similar movies for "Toy Story (1995)"
similar_movies_toystory = get_similar_movies('Toy Story (1995)')
print("Movies similar to Toy Story (1995):")
print(similar_movies_toystory)

Movies similar to Toy Story (1995):
1706                                          Antz (1998)
2355                                   Toy Story 2 (1999)
2809       Adventures of Rocky and Bullwinkle, The (2000)
3000                     Emperor's New Groove, The (2000)
3568                                Monsters, Inc. (2001)
6194                                     Wild, The (2006)
6486                               Shrek the Third (2007)
6948                       Tale of Despereaux, The (2008)
7760    Asterix and the Vikings (AstÃ©rix et les Viking...
8219                                         Turbo (2013)
Name: title, dtype: object

In [4]:
# Get the top 10 similar movies for "Jumanji (1995)"
similar_movies_jumanji = get_similar_movies('Jumanji (1995)')
print("Movies similar to Jumanji (1995):")
print(similar_movies_jumanji)

Movies similar to Jumanji (1995):
53                     Indian in the Cupboard, The (1995)
109                     NeverEnding Story III, The (1994)
767                       Escape to Witch Mountain (1975)
1514            Darby O'Gill and the Little People (1959)
1556                                  Return to Oz (1985)
1617                        NeverEnding Story, The (1984)
1618    NeverEnding Story II: The Next Chapter, The (1...
1799                        Santa Claus: The Movie (1985)
3574    Harry Potter and the Sorcerer's Stone (a.k.a. ...
6075    Chronicles of Narnia: The Lion, the Witch and ...
Name: title, dtype: object